
* {


    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    background-image: url('purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Noto Sans', sem serifa;
}

header {
    text-align: left;
    padding: 15px;
    height: 40px;


}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 60px;
    color: white;
    cursor: default;

}
.h1-oef {
    text-align: center;
    margin: -60px;
    cursor: default;
}

h2 {
    text-align: center;
    margin: -63px -90px;
    font-size: 40px;
    color: white;
    cursor: default;
}
p {
    text-align: center;
    font-size: 20px;
    margin: 80px 50px 0px 50px;
    color: white;
    cursor: default;
}
.oef{
    margin: 1px;
    cursor: default;
}

p.botao {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: 15px -200px -10px 320px;
    color: white;

}
p.botao2 {
    display: center;
    text-align: center;
    font-size: 20px;
    margin: 5px 00px 00px 5px;
    color: white;
}
p.sbr-mim {
    margin: 65px;
}

a{
    text-decoration:double; /*remove o detalhe do link*/
    cursor: pointer;
    color: #e1caff;
    font-weight: 700;
}

li {
    align-items: center;
    display: inline-block; /*organiza em linha ou em fileira*/
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;

}
li.informations {
    text-align: center;
    margin: 15px -55px -50px 80px;
    border:#fff solid 1px;
    border-radius: 20px;
    cursor:default;
    display: inline-block;
}
li.informations2{
    text-align: center;
    margin: 20px -55px -90px 100px;
    border:#fff solid 1px;
    border-radius: 20px;
    cursor:default;
    display: inline-block;
}

svg {
    color: white;
}

.infos-social {
    display: inline-block;
}

.infos-social li {
    border: none;
    background-color: transparent;
}

.img-pfp {
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
}

.pfp {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    margin-top: -220px;
    border: 3px #B896FB solid;
    box-shadow: 0px -15px 20px 5px #cca0fa;

}

.main1 {
    background-color: transparent;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 90px auto 0 auto;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px;
    box-shadow: 0px 0px 15px 20px #cca0fa;
}
.hr-main1 {
    border: none;
    border-radius: 50px;
    border-top: 3px solid white;
    margin: 80px 2px -50px;
}

.main2 {
    background-color: transparent;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 90px auto 0 auto;
    height: 500px;
    width: 900px;
    border-radius: 15px;
    box-shadow: 5px;
    box-shadow: 0px 0px 15px 20px #cca0fa;
}
.hr-main2 {
   border: none;
   border-top: 1px solid white;
   margin: -60px 0px; 
}
.hr-sm {
    border: none;
    border-top: 1px solid white;
    margin: 75px 0px 13px; 
}

.main3 {
    background-color: transparent;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 90px auto 0 auto;
    height: 600px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px;
    box-shadow: 0px 0px 15px 20px #cca0fa;

}

span {
    cursor: pointer;
    border-bottom: 5px white solid;
    border-radius: 5px;
    color: white;
}

ul img {
    display: inline-block;
    align-items: center;
    margin: 5px -250px -10px 320px;
    height: 35px;
    width: 35px;
}



















            /*Código responsível*/


@media screen and (max-width: 768px) {

    body {
        background-image: url('purple2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main1 {
        margin-top: 180px;
        width: 400px;
    }

    .main2 {
        margin-top: 180px;
        width: 400px;
        height: 650px;
    }

    .main3 {
        margin-top: 180px;
    }

    h1{
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
        margin: -69px 100px;
    }

    p {
        font-size: 20px;
        margin: 80px 2px 2px -10px;
    }

    li.informations {
    text-align: center;
    margin: 10px -35px 0px 40px;
    border:#fff solid 1px;
    border-radius: 20px;
    cursor:default;
    display: inline-block;
    }

    li.informations2{ /*html,css,javascript*/
    text-align: center;
    margin: 10px -95px 0px 100px;
    border:#fff solid 1px;
    border-radius: 20px;
    cursor:default;
    display: inline-block;
    }

    ul img {
    display: inline-block;
    align-items: center;
    margin: 5px -5px 0px 73px ;
    height: 35px;
    width: 35px;
    }

    p.botao {
        display: inline-block;
        text-align: center;
        font-size: 20px;
        margin: 20px -95px -10px 123px;
        color: white;
    
    }
    
    p.botao2 {
        display: center;
        text-align: center;
        font-size: 20px;
        margin: 5px 0px 00px 5px;
        color: white;
    }



}



























@media screen and (max-width: 479px) {

    html, body{
        height: 190%;
        width: 165%;
    }

    #background-img {
        background-image: url('purple3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .main1 {
        margin-top: 180px;
        margin-left: 40px;
    }
    .main2 {
        margin-top: 180px;
        margin-left: 40px;
    }

}

@media screen and (max-width: 767px) {

    html, body{
        background-image: url('purple2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
    }
    
    .main1 {
        margin-top: 180px;
        width: 280px;
    }
    .main2 {
        margin-top: 180px;
        width: 280px;
    }
}




































@media screen and (max-width: 412px) {

    html, body{
        height: 100%;
        width: 100%;
    }

    #background-img {
        background-image: url('purple3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    h1.h1 {
        font-size: 35px;
    }
    .sobre-mim {
        margin-top: -20px;
        font-size: 18px;
    }
    .main1 {
        width: auto;
    }
    .main2 {
        margin: 200px 2px;

    }
    p.botao {
        display: inline-block;
        align-items: center;
        margin: 10px 8px 0px 85px;
    }


}