
@media screen and (max-width: 768px) {

    
}





* {


    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    background-image: url('purple.jpg');
    background-size: cover;
    max-width: 100%;
    height: auto;
    color: white;
}

header {
    text-align: left;
    padding: 15px;
    height: 40px;

}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 60px;
    color: white;

}


h2 {
    text-align: center;
    margin: -50px;
    font-size: 30px;
    color: white;
}
p {
    text-align: center;
    font-size: 20px;
    margin: 60px;
    color: white;
}

a{
    text-decoration: none; /*remove o detalhe do link*/
    cursor: pointer;
    color: #d3a9fa;
}

li {
    align-items: center;
    display: inline-block; /*organiza em linha ou em fileira*/
    border-radius: 5px;
    padding: 6px;
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;

}

svg {
    color: white;
}

.infos-social {
    display: inline-block;
}

.infos-social li {
    border: none;
    background-color: transparent;
}

.img-pfp {
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
}

.pfp {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    margin-top: -220px;
    border: 3px #B896FB solid;
    box-shadow: 7px 6px 30px 1px #8739DB;

}

.main {
    background-color: transparent;
    background-size: cover;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 90px auto 0 auto;
    height: 480px;
    width: 450px;
    border-radius: 15px;
    box-shadow: 1px;
    box-shadow: 8px 5px 28px 1px #8739DB;

}

span {
    cursor: pointer;
    border-bottom: 5px white solid;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 768px) {

    body {
        background-image: url('purple2.jpg');
    }

    .main {
        margin: 100px auto auto 90px;
        

    }
    
    
}

@media screen and (max-width: 1024px) {

    body {
        background-image: url('purple2.jpg');
    }

    .main {
        margin:/*y*/280px/*x esquerda*/256px 256px/*x direita*/;
        height: 410px;
        width: 450px;

    }
    
    
}